CHAT画面<br>
<h2 style="text-align:center"><%="『#{@item.name}』への問い合わせ"%></h2>
<div id="chats">
  <% @chats.each do |chat|%>
  <%if chat.user_id==current_user.id%>
  <div class="mycomment">
    <p><%=chat.message%></p>
  </div>
  <%else%>
  <div class="fukidasi">
    <div class="faceicon">
      <%= image_tag "test1.jpg", alt:"..."%>
      <%= "#{chat.user.email}"%>
    </div>
    <div class="chatting">
      <div class="says">
        <p><%=chat.message%></p>
      </div>
    </div>
  </div>
  <%end%>
  <%end%>
</div>

<%= form_with model: @chat, url: item_chats_path, id:"send-form", local: true do |f|%>
<%= f.text_field :message, class:"items-text", id:"message", placeholder:"入力してね", style:"width:30%;", maxlength:"40" %>
<%= f.submit '送信', id:"send" %>
<%end%>