<div class="items_index">
  <div class="items_index_L">
    <%= form_with url: search_items_path, method: :get, local: true do |f| %>
    <%= f.text_field :input_name, class:"search_form"%>
    <%= f.submit :"検索" %>
    <% end %>
  </div>

  <div class="items_index_R">
    <%# 地図 %>
    <%= render "items/map5" %>
    <%# 地図 %>
    
    <%= render "items/R" %>

  </div>
</div>