<div class="items_index">
  <div class="items_index_L">
    <%= form_with url: search_items_path, method: :get, local: true do |f| %>
    <%= f.text_field :input_name, class:"search_form" %>
    <%= f.submit :"検索" %>
    <% end %>

      <% if @items.length != 0 %>
      <% @items.each do |item| %>
      <div class="search_result">
      <%= item.name %><br>
      １個　<%= item.point %>ポイント<br>
      受け渡し場所：<%= item.place %><br>
      残り　<%= item.stock %>個<br>
      <%= item.comment %>
      </div>
      <% end %>
      <% else %>
      探しているアイテムが見つかりません
      <% end %>
    </table>
  </div>

  <div class="items_index_R">
    <%# 地図 %>
    <div class="items_index_R_map" , id="map"></div>

    <script type="text/javascript">
      function initMap() {
        var opts = {
          zoom: 15,
          center: new google.maps.LatLng(35.1239654, 136.9417741)
        };
        var map = new google.maps.Map(document.getElementById("map"), opts);
      }
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=#AIzaSyD77GZg71bC10RX8nTEOJgfrixangpPRqI&callback=initMap">
    </script>
    <%# 地図 %>

    <div class="items_index_R_menu">
      <div class="advertising">広告欄</div>
      <div>現在のポイント</div>
      <h2>100P</h2>
      <div>ポイントメニュー</div>
      <div>取引履歴</div>
      <div>
        <li><%= link_to '出品', new_item_path %>
      </div>
      <div>アプリの使い方</div>
      <div>
        <% if user_signed_in? %>
        <li><%= link_to current_user.email, "#" %></li>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %>
          / <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
        </li>
        <% end %>
      </div>
    </div>
  </div>
</div>