<div class="items_index">
  <div class="items_index_L">
    <%= form_with url: search_items_path, method: :get, local: true do |f| %>
    <%= f.text_field :input_name, class:"search_form" %>
    <%= f.submit :"検索" %>
    <% end %>

      <% if @items.length != 0 %>
      <% @items.each do |item| %>
      <div class="search_result">
      <b><%= link_to "#{item.name}", item_path(item.id) %></b><br>
      1個　<%= item.point %>ポイント(残り　<%= item.stock %>個)<br>
      受け渡し場所：<%= item.address %><br>
      </div>
      <% end %>
      <% else %>
      探しているアイテムが見つかりません
      <% end %>
    </table>
  </div>

  <div class="items_index_R">
    <%# 地図 %>
    <%= render "items/map5" %>
    <%# 地図 %>

    <%= render "items/R" %>
    
  </div>
</div>